@import '~antd/dist/antd.css';
.appHeader{
    background-color: white;
    height: 150px;
}

.appSider{
    background-color: white;
}

.appFooter{
    background-color: white;
    text-align: center;
}
.appContent {
    margin: 5px;
}